In [2]:
#import the libraries

import math

In [4]:
math.sqrt(25)

5.0

In [5]:
math.pi

3.141592653589793

In [15]:
import math as mt

In [7]:
mt.sqrt(36)

6.0

In [8]:
import numpy

In [11]:
import scipy

In [12]:
from scipy import stats

In [2]:
from numpy import random

In [3]:
import numpy as np

In [3]:
# uniform random numbers in [0,1]

dataOne=random.rand(5,5)

In [5]:
dataOne = random.rand(5,5)

In [6]:
dataOne

array([[0.51060715, 0.07945023, 0.54620448, 0.9773919 , 0.31302793],
       [0.89591413, 0.58481292, 0.60892215, 0.86063398, 0.86414196],
       [0.5711052 , 0.72644642, 0.72556787, 0.29798546, 0.78477387],
       [0.59372686, 0.07582428, 0.75161306, 0.88552308, 0.76871056],
       [0.58672002, 0.76481554, 0.64585163, 0.35942835, 0.14334281]])

In [7]:
np.mean(dataOne)

0.5969016732587566

In [17]:
help('math')

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [18]:
#exercise - math

mt.floor(0.51)

0

In [20]:
mt.pow(2,6)

64.0

In [27]:
mt.fabs(-2.35)

2.35

In [29]:
#exercise - statistics

print(min(dataOne[1]))

0.5848129155976538

In [30]:
print(max(dataOne[1]))

0.8959141345908873

In [51]:
print(mt.sqrt(dataOne[0,0]))

0.7145678070805284

In [53]:
print(mt.log(dataOne[0,1]))

-2.5326245220464783

In [54]:
print(mt.ceil(dataOne[0,3]))

1

In [55]:
 #Functions
    
    def functionName():
        print('I love data science')

In [56]:
functionName()

I love data science

In [38]:
#variables

variableName=25

In [39]:
variableName1='I love data science'

In [40]:
print(variableName1)

I love data science

In [41]:
type(variableName)

int

In [42]:
variableName2=25.0

In [43]:
type(variableName2)

float

In [44]:
#exercise

varOne=25

In [45]:
varTwo=25.0

In [46]:
varThree= varOne + varTwo

In [47]:
print(varThree)

50.0

In [48]:
#exercise

varOne= 25

In [49]:
varTwo= 'Hello'

In [33]:
varThree= varOne + varTwo

NameError: name 'varOne' is not defined

In [51]:
#Lists

listOne= [1,2,3,4]

In [52]:
print(listOne[1:3])

[2, 3]

In [53]:
#Dictionary

tel= { 'jack':4085, 'mike': 7689}

In [54]:
tel['jack']

4085

In [35]:
#exercise

eyeColors={'brown':1,'black':2,'green':3,'blue':4,'hazel':5}

In [36]:
eyeColors['hazel']

5

In [37]:
#exercise

mt.sqrt(eyeColors['black'])

1.4142135623730951

In [38]:
mt.sin(eyeColors['green'])

0.1411200080598672

In [39]:
mt.log(eyeColors['hazel'])

1.6094379124341003

In [2]:
# An example of a .csv file I've loaded to my Notebook from Course 2

import pandas as pd
CompleteResponses=pd.io.parsers.read_csv('CompleteResponses.csv')
print(CompleteResponses)

            salary  age  elevel  car  zipcode        credit  brand
0     119806.54480   45       0   14        4  442037.71130      0
1     106880.47840   63       1   11        6   45007.17883      1
2      78020.75094   23       0   15        2   48795.32279      0
3      63689.93635   51       3    6        5   40888.87736      1
4      50873.61880   20       3   14        4  352951.49770      0
5     130812.74280   56       3   14        3  135943.02200      1
6     136459.33920   24       4    8        5   80500.56351      1
7     103866.89960   62       3    3        0  359803.89350      1
8      72298.80402   29       4   17        0  276298.69520      0
9      37803.33285   41       1    5        4  493219.26860      1
10     63704.26156   48       4   16        5  299460.22740      1
11    128999.93560   52       1    6        0  152232.50980      0
12     57991.29599   52       3   20        4  227743.74970      1
13     82474.57645   33       4   13        3  424657.49670      0
14     63988.96981   62       2    6        3  262136.30650      0
15    132310.36040   23       1   11        4  451927.60240      1
16    113236.38360   24       2    7        7  198381.89840      1
17    120525.59940   57       1    6        2   15964.68370      0
18    121457.63490   50       2    2        8  415359.23240      0
19     89740.99923   77       0   18        2  195091.92590      1
20     95142.11810   44       0    2        8   89818.29461      0
21     87383.95734   80       3    7        5  243166.61170      1
22     21143.94206   64       2   11        2  296635.25070      1
23     34581.64726   55       0   15        6  185603.25070      1
24     37200.74208   32       3    9        6  168547.07610      1
25     60305.50057   58       1    4        4  469719.50060      1
26     32839.41644   30       4   20        1  177224.36260      1
27     45070.50666   48       3    1        5  360446.39090      1
28     92417.81235   43       0    2        0   22677.44642      0
29    107710.31920   75       0   16        2  209002.40650      1
...            ...  ...     ...  ...      ...           ...    ...
9970  145613.87940   74       0   11        1  386122.70740      1
9971   54744.77638   72       2   18        2  238827.55930      0
9972  116250.85830   41       2   20        8   63761.49259      0
9973  128098.85650   76       4   16        2   84307.29213      1
9974  131505.29740   51       2    6        3  424148.52060      1
9975  103473.37750   75       0   11        0   62123.99278      1
9976  118932.13850   41       3   16        6  465578.01590      1
9977   46620.66817   72       4   19        3  252582.28080      0
9978   80746.75557   33       0   13        4  420476.91890      0
9979  111334.90140   32       4    3        7  384233.39040      1
9980   71933.45209   63       0    1        1  433606.14960      0
9981  112042.06000   68       3    1        8   80403.30576      1
9982   74222.60787   52       1   11        1  348048.08500      1
9983   21070.42819   67       2   16        2   22896.26734      0
9984  115647.13470   64       2   17        3  411999.49290      1
9985  124255.99390   43       3   11        4  235693.46630      0
9986   24228.84845   72       3    5        0  347027.23350      1
9987   42176.58265   63       3   20        2  185901.91220      0
9988   47376.99769   67       2    2        3  455074.87160      0
9989   51763.10865   75       3    8        1   56667.39375      0
9990  103896.05180   46       0    9        3  425032.79540      0
9991   79496.43241   34       0   13        0  363107.53590      0
9992   83138.09967   22       4   13        4  159897.04320      0
9993  143929.62120   22       0   12        4  259574.36160      1
9994   23235.84583   75       4   17        6  375881.49020      1
9995   92428.27333   37       2    5        3  255023.91440      0
9996   92539.75251   80       4    3        7   45027.69697      1
9997   84296.08945   72       2    8        7  131900.46890      1
9998  129891.40790   32       1    2        7  213871.09990      1
9999  112032.60830   77       1   13        4       0.00000      1

[10000 rows x 7 columns]